<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good bye, <%= @user.firstname %>!</h1>
    <p>
      Your account is now deleted
      Full name: <%= @user.full_name %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
