<div class="container">
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

<h1>Edit movie: <%= link_to "#{@movie.title}", movie_path(@movie) %> </h1>
<%= render 'form' %>

</div>
