<h1>Rotten Mangoes</h1>
<%= render 'layouts/search_form' %><br>
<%= link_to "Submit a movie!", new_movie_path %><hr>

<% if !@movies.empty? %>
  <%= render @movies %>
<% else %>
  <h4>No movie matches your criteria.</h4>
<% end %>
