<!-- Begin page content -->
<div class="container">
  <div class="page-header">
    <h1>All movies:</h1>
  </div>
  <p class="lead">Listing of all movies currently in the database.</p>
  <% if !@movies.empty? %>
  <div class="container">
    <%= render @movies %>
  </div>
  <% else %>
  <div class="container">
    <h4>No movie matches your criteria.</h4>
  </div>
  <% end %>
</div>
