<div class="container">
  <div class="page-header">
    <h1>Basic movie information database (Rotten Tomatoes clone)</h1>
  </div>
  <p class="lead">Built during Lighthouse Labs bootcamp with Ruby on Rails, HTML, CSS (Bootstrap). Features include: masquerade as user functionality for admins, basic movie search functionality, user profiles.</p>

  <p>Feel free to contact me if you have any questions or interesting suggestions.</p>
  <p>Ruxandra Fediuc:
    <a target="_blank" href="https://github.com/ruxandrafed/"><img width="16" src="/images/GitHub.png" alt="Ruxandra Fediuc - GitHub" /></a>
    <a target="_blank" href="mailto:ruxandra.fediuc@gmail.com"><img width="18" src="/images/email.png" alt="Ruxandra Fediuc - Email" /></a>
  </p>
</div>
