body {
  font-family: 'Ubuntu', sans-serif;
}

.glyphicon-facetime-video {
    margin-top: 30px;
    font-size: 170px;
    color: #337AB7;
    float: right;
}

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  background-color: #FFFFC2;
  margin-bottom: 30px
}

.movie-thumb {
  margin-top: 5px;
  margin-right: 5px;
}
