<h1>Current users</h1>
<% @users.each do |user| %>
  <h2><%= link_to user.full_name, users_path(user) %></h2>
  <p>Email: <%= user.email %></p>
  <p>Created on: <%= user.created_at %></p>
  <hr>
<% end %>
