<div class="container">
  <div class="page-header">
  <h2>Write a review of <%= link_to @movie.title, movie_path(@movie) %>:</h2>
  <%= render 'form' %>
  </div>
  <div class="container">
  <%= link_to "Back to #{@movie.title}", movie_path(@movie) %>
  </div>
</div>

